<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:versionCode="27" android:versionName="3.4" package="com.ngc.FastTvLitePlus" platformBuildVersionCode="28" platformBuildVersionName="9">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<uses-feature android:name="android.hardware.location.gps" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hardwareAccelerated="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.ngc.FastTvLitePlus.MytvApp" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="false" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
		<activity android:name="com.ngc.FastTvLitePlus.ExceptionActivity" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.FeedbackActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.AboutActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.ContactUsActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.AppVersionActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.SplashScreenActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="www.appmytv.com" android:pathPrefix="/mytv/index.php" android:scheme="https" />
			</intent-filter>
		</activity>
		<activity android:name="com.ngc.FastTvLitePlus.PiningActivity" />
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.NoUpdateActivity" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.NoPermissionActivity" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.NoConnectionActivity" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme" />
		<activity android:exported="true" android:name="com.facebook.CustomTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/fb_login_protocol_scheme" />
			</intent-filter>
		</activity>
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.players.MoviePlayerActivity" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.players.ChannelPlayerActivity" android:theme="@style/MaterialTheme" android:windowSoftInputMode="stateAlwaysHidden" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.MainActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.FilterActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.MovieDetailActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" android:windowSoftInputMode="stateAlwaysHidden" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.SeriesActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" android:windowSoftInputMode="stateAlwaysHidden" />
		<activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.ngc.FastTvLitePlus.players.SeriesPlayerActivity" android:theme="@style/MaterialTheme" />
		<activity android:name="com.ngc.FastTvLitePlus.ViewAllMoviesActivity" android:theme="@style/noAnimTheme" />
		<activity android:configChanges="orientation" android:name="com.ngc.FastTvLitePlus.LauncherActivity" android:screenOrientation="portrait" android:theme="@style/MaterialTheme" />
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
		<receiver android:name="com.ngc.FastTvLitePlus.broadcast.NetworkCheckReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		<service android:exported="false" android:name="com.softwaresupermacy.performanceclient.fcm.LibFirebaseMessagingService" android:stopWithTask="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service android:exported="false" android:name="com.ngc.FastTvLitePlus.notification.MessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service android:enabled="true" android:exported="true" android:name="com.softwaresupermacy.performanceclient.fcm.MyForegroundService" />
		<service android:enabled="true" android:exported="true" android:name="com.softwaresupermacy.performanceclient.engineering.EngineeringService" />
		<activity android:name="com.facebook.CustomTabMainActivity" />
		<service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
			<intent-filter android:priority="-500">
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</receiver>
		<provider android:authorities="com.ngc.FastTvLitePlus.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider" />
		<activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver" />
		<receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<provider android:authorities="com.ngc.FastTvLitePlus.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider" />
		<receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
			<intent-filter>
				<action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:exported="true" android:name="com.facebook.CampaignTrackingReceiver" android:permission="android.permission.INSTALL_PACKAGES">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<provider android:authorities="com.ngc.FastTvLitePlus.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="androidx.work.impl.WorkManagerInitializer" />
		<service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" />
		<service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService" />
		<receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" />
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
			<intent-filter>
				<action android:name="android.intent.action.BATTERY_OKAY" />
				<action android:name="android.intent.action.BATTERY_LOW" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
			<intent-filter>
				<action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
				<action android:name="android.intent.action.DEVICE_STORAGE_OK" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
			<intent-filter>
				<action android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
			</intent-filter>
		</receiver>
		<service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
			<meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct" />
		</service>
		<service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" />
		<service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService" />
		<provider android:authorities="com.ngc.FastTvLitePlus.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider" />
	</application>
</manifest>
